*{
    font-family: Tahoma;
    font-size: 11pt;
    padding: 0px;
    margin: 0px;
    text-align: justify;
    color: #333;
}
#frame{
    margin: 0 auto;
    width: 100%;
}
#header{
    float: left;
    background-color: #5b5d5d;
    width: 100%;
    padding: 10px 0;
}
#header #logo{
    float: left;
    font-size: 22pt;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    margin-left: 50px;
}
#header #search_box{
    float: left;
    padding: 5px 10px;
    align-items: center;
    border-radius: 30px;
    background: #fff;
    height: 25px;
    width: 170px;
    display:flex;
    margin-left: 50px;
}
#search_box input{
    width: 150px;
    border: none;
    outline: none;
}
.search_button{
    background: url("/icon/search.png") no-repeat center center;
    width: 30px;
    height: 30px;
    outline: none;
    border: none;
    background-size: contain;
}
.shop_button{
    float: left;
    background: url("/icon/shopping_480px.png") no-repeat center center;
    width: 30px;
    height: 35px;
    outline: none;
    border: none;
    background-size: contain;
    margin-left: 30px;
}
.shop_button:hover{
    background: url("/icon/shopping_blackx.png") no-repeat center center;;
    background-size: contain;
    width: 30px;
    height: 35px;
    outline: none;
    border: none;
}
.account_button{
    float: left;
    background: url("/icon/user_480px.png") no-repeat center center;
    width: 30px;
    height: 35px;
    outline: none;
    border: none;
    background-size: contain;
    margin-left: 30px;
}
.account_button:hover{
    background: url("/icon/user_black.png") no-repeat center center;;
    background-size: contain;
    width: 30px;
    height: 35px;
    outline: none;
    border: none;
}
#menu{
    background-color: #5b5d5d;
    height: 39px;
    float: left;
    margin-left: 30px;
}
#menu .item_menu{
    float:left;
    padding: 10px 18px;
    font-weight: bold;
    color: whitesmoke;
    margin-left: 60px;
    border-radius: 10px;
}
#menu .item_menu:hover{
    color: #5b5d5d;
    background-color: whitesmoke;
}
#banner #banner_img{
    width: 100%;
}
#body{
    margin-left: 100px;
    background-color: #fefefe;
    padding-top: 15px;
    width: 1200px;
    float: left;
}
#left_side{
    margin-bottom: 15px;
    width: 204px;
    float: left;
    height: 376px;
    border-radius: 15px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}
#left_side .icon{
    height: 25px;
    margin-right: 5px;
    text-align: center;
    width: 25px;
}
#left_side .title{
    width: 150px;
    font-size: 14px;
}
#left_side .icon_right{
    float:right;
    height: 20px;
    width: 20px;
}

#left_side .item{
    margin-top: 5px;
    align-items: center;
    display: flex;
    min-height: 31.3px; 
    padding: 0 10px;
}
#left_side .item .sub_menu{
    display: none;
    z-index: 1;
    top: 0;
    position: absolute;
    width: 1050px;
    background-color: #fff;
    margin-top: 660px;
    margin-left: 169px;
    border-radius: 0 10px 10px 10px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);        
}
#left_side .item:hover .sub_menu{
    display: block;
}
#left_side .item:hover{
    color: whitesmoke;
    background-color: #c5c9c9;
    border-radius: 5px;
}
#left_side .item .sub_menu .list{
    float: left;
    padding: 10px;
}
#left_side .item .sub_menu .list .title{
    font-weight: bold;
}
#left_side .item .sub_menu .list .item1{
    margin-top: 5px;
    align-items: center;
    display: flex;
    min-height: 31.3px; 
    padding: 0 10px;
    color: #777;
    font-size: 14px;
}
#left_side .item .sub_menu .list .item1:hover{
    color: whitesmoke;
    background-color: #c5c9c9;
    border-radius: 5px;

}
#right_side .first_title{
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 20px;
}
#right_side{  
    margin-left: 25px;  
    margin-bottom: 15px;
    width: 920px;
    float: right;
}
#right_side .product{
    width: 228.8px;
    margin-right: 10px;
    float: left;
    margin-bottom: 5px;
}
#laptop{
    float: left;
}
#right_side .product .product_info_container{
    float: left;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    box-shadow: none;
    height: calc(95% - 20px);
    margin: auto;    
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%); 
}
#right_side .product .product_info_container .product_info .product_img{
    text-align: center;
}
#right_side .product .product_info_container .product_info .product_img img{
    margin: 10px 0 0;
    width: 160px;
}
#right_side .product .product_info_container .product_info .product_name{
    margin-bottom: 5px;
    padding-left: 5px;
    margin-top: 5px;
}
#right_side .product .product_info_container .product_info .box_prices .box_prices2{
    align-items: flex-end;
    color: #444;
    display: flex;
    font-family: sans-serif;
    line-height: 1.4;
    padding-left: 5px;
}
#right_side .product .product_info_container .product_info .box_prices .box_prices2 .product_price_show{
    color: #d70018;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 10px!important;  
}
#right_side .product .product_info_container .product_info .box_prices .box_prices2 .product_price_through{
    color: #707070; 
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 10px 10px; 
    text-decoration: line-through;

}   
#right_side .product .product_info_container .product_info .product_promotion .promotion{
    background: #f3f4f6;
    border: 1px solid #e5e7eb;
    font-size: 12px;
    line-height: 1.5;
    overflow: hidden;
    padding: 5px;
    width: auto;
}
#right_side .product .product_info_container .product_info .button_wishlist{
    float: right;
    margin-top: 5px;
}
#right_side .product .product_info_container .product_info .button_wishlist .title_button{
    float: left;
    color: #777;
    font-size: 12px;
    margin-top: 2px;
    margin-right: 2px;
}
#right_side .product .product_info_container .product_info .button_wishlist .heart{
    height: 20px;
    margin-right: 5px;
    text-align: center;
    width: 20px;
}
.show_all{
    float: left;
    width: 720px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}
.show_all_button{
    width: 200px;
    text-align: center;
    height: 50px;
    border-radius: 10px;
    color: #0066CC;
    background-color: transparent;
    border-width: 1px;
    border-color: #0066CC;
}
.show_all_button:hover{
    background-color: #0066CC;
    color: white;
}
#footer_newletter{
    float: left;
    background-color: #f1f1f1;
    width: 100%;
    margin: auto;
    padding: 50px 0%;
}
#footer_newletter .heading_newletter{
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    color:#1D1D1F;
    line-height: 36px;
}
#footer_newletter p{
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #515154;
    padding: 8px 0;
    margin: 0;
}
#footer_newletter .newletter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px 20px 10px 20px;
    width: 100%;
}
#footer_newletter .newletter .newletter_email{
    align-items: center;
    justify-content: center;
    display: inline-flex;
    width: 100%;
}
#footer_newletter .newletter .newletter_email #email{
    height: 20px;
    border-radius: 40px 0 0 40px;
    line-height: 20px;
    padding: 10px 0 10px 24px;
    color: #515154;
    width: 100%;
    border: none;
    max-width: 470px;
    padding-left: 20px !important;
}
#footer_newletter .newletter .newletter_email #subscribe{
    border-radius: 40px;
    background-color: #0066CC;
    font-size: 12px;
    margin-left: -52px;
    float: left;
    border: none;
    text-align: center;
    color: #fff;
    max-width: 100px;
    height: 40px;
    width: 100%;
}
#footer_newletter .newletter .newletter_email #subscribe:hover{
    background-color: #2f93f7;
}
#footer{
    background-image: linear-gradient(to left, #222, #000);
    width: 100%;
    float: left;
    text-align: center;
}
#footer #footer_upper{
    border-bottom: 1px solid #515154;
    padding: 64px 10px 21px 30px;
    display: flex;   
    margin: auto;
    width: 980px;
    /*margin auto thi phai thiet lap do dai cho div*/
}

#footer #footer_upper #footer_block1{
    margin-bottom: 20px;
}
#footer #footer_upper #footer_block1 .footerblock_logo{
    color: #D2D2D7;
    font-size: 20pt;
    text-align: left;
    margin-bottom: 20px;
}
#footer #footer_upper #footer_block1 .topic_block{
    margin: 0;
    width: 100%;
    max-width: 300px;
}
#footer #footer_upper #footer_block1 .topic_block #topic_block_content{
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 24px;
    text-align: justify;

}
#footer #footer_upper #footer_block1 .topic_block #topic_block_content .content{
    color: #D2D2D7;
}
#footer #footer_upper #footer_block1 .social{
    width: 100%;
    float: left;
}
#footer #footer_upper #footer_block1 .social .facebook{
    background: url("/icon/facebook_512px.png") no-repeat center center;
    width: 50px;
    height: 50px;
    background-size: contain;
}
#footer #footer_upper #footer_block1 .social .youtube{
    background: url("/icon/youtube_logo_512px.png") no-repeat center center;
    width: 50px;
    height: 50px;
    background-size: contain;
}
#footer #footer_upper #footer_block1 .social .twitter{
    background: url("/icon/twitter_512px.png") no-repeat center center;
    width: 50px;
    height: 50px;
    background-size: contain;
}
#footer #footer_upper #footer_block1 .social .tiktok{
    background: url("/icon/tiktok_512px.png") no-repeat center center;
    width: 50px;
    height: 50px;
    background-size: contain;
}
#footer #footer_upper #footer_block2{
    text-align: left;
    margin-left: 30px;
}
.block_title{
    font-size: 15px;
    line-height: 21px;
    font-weight: 700px;
    color: #D2D2D7;
    margin-bottom: 20px;
}
.block_list .list_item{
    color: #86868b;
    margin-bottom: 10px;
    font-size: 14px;
}
.list_item:hover{
    color: white;
}
#footer #footer_upper #footer_block3{
    text-align: left;
    margin-left: 30px;
}
#footer #footer_upper #footer_block4{
    text-align: left;
    margin-left: 30px;
}
#footer #footer_upper #footer_block4 .footer_contact .topic_block .topic_block_body{
    text-align: justify;
    line-height: 24px;
    font-size: 16pt;
}
#footer #footer_lower{
    margin: auto;
    width: 980px;
    margin-top: 20px;
    margin-bottom: 50px;
}
#footer #footer_lower .footer_info p{
    color: #515154;
}
