*{
    font-family: Tahoma;
    font-size: 12pt;
    padding: 0px;
    margin: 0px;
    text-align: justify;
    color: #333;
}
#frame{
    margin: 0 auto;
    width: 100%;
}
#header{
    float: left;
    background-color: #5b5d5d;
    width: 100%;
    padding: 10px 30px;
}
#header #logo{
    float: left;
    font-size: 22pt;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}
#header #search_box{
    float: left;
    padding: 5px 10px;
    align-items: center;
    border-radius: 30px;
    background: #fff;
    height: 25px;
    width: 250px;
    display:flex;
    margin-left: 300px;
}
#search_box input{
    width: 230px;
    border: none;
    outline: none;
}
.search_button{
    background: url("/icon/search.png") no-repeat center center;
    width: 30px;
    height: 30px;
    outline: none;
    border: none;
    background-size: contain;
}
.shop_button{
    float: left;
    background: url("/icon/shopping_480px.png") no-repeat center center;
    width: 30px;
    height: 35px;
    outline: none;
    border: none;
    background-size: contain;
    margin-left: 20px;
}
.shop_button:hover{
    background: url("/icon/shopping_blackx.png") no-repeat center center;;
    background-size: contain;
    width: 30px;
    height: 35px;
    outline: none;
    border: none;
}
.account_button{
    float: left;
    background: url("/icon/user_480px.png") no-repeat center center;
    width: 30px;
    height: 35px;
    outline: none;
    border: none;
    background-size: contain;
    margin-left: 20px;
}
.account_button:hover{
    background: url("/icon/user_black.png") no-repeat center center;;
    background-size: contain;
    width: 30px;
    height: 35px;
    outline: none;
    border: none;
}
#menu{
    background-color: #5b5d5d;
    height: 39px;
    float: left;
    margin-left: 300px;
}
#menu .item_menu{
    float:left;
    padding: 10px 18px;
    font-weight: bold;
    color: whitesmoke;
    margin-left: 60px;
    border-radius: 10px;
}
#menu .item_menu:hover{
    color: #5b5d5d;
    background-color: whitesmoke;

}
#wp_products{
    padding-top: 116px;
    padding-bottom: 78px;
    padding-left: 134px;
    padding-right: 134px;
}
#wp_products h2{
    text-align: center;
    margin-bottom: 76px;
    font-size: 32px;
    color: #626a67;
}
